<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>



<div class="container custom-container-2">




    <h3 class="mb-3 text-center"> Movie Details </h3>

    <div class="col-md-12">
        <table class="table table-warning">
            <thead>
                <tr>
                    <th scope="col">Movie ID</th>
                    <th scope="col">Movie Title</th>
                    <th scope="col">Movie_Release_Date</th>
                    <th scope="col">Movie Status</th>

                </tr>
            </thead>
        </table>

    </div>

</div>