<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>


<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.8/css/all.css">


<hr>
<div class="card bg-light"  style="background-image:url('assets/Images/popcorn.jpg')">

    <article class="card-body mx-auto" style="max-width: 500px;">
        <h3 class="card-title mt-3 text-center" style="color: bisque;">Create Account</h3>
        <p class="text-center" style="color: bisque;">Get started with your free account</p>


        <form>
            <div class="form-group input-group">
                <div class="input-group-prepend">
                    <span class="input-group-text"> <i class="fa fa-user"></i> </span>
                </div>
                <input name="" class="form-control" placeholder="Full name *" type="text" required="required">
            </div> <!-- form-group// -->
            <div class="form-group input-group">
                <div class="input-group-prepend">
                    <span class="input-group-text"> <i class="fa fa-envelope"></i> </span>
                </div>
                <input name="" class="form-control" placeholder="Email address *" type="email" required="required">
            </div> <!-- form-group// -->
            <div class="form-group input-group">
                <div class="input-group-prepend">
                    <span class="input-group-text"> <i class="fa fa-phone"></i> </span>
                </div>
                <select class="custom-select" style="max-width: 120px;">
                    <option selected="">+90</option>
                    <option value="1">+91</option>
                    <option value="2">+92</option>
                    <option value="3">+93</option>
                </select>
                <input name="" class="form-control" placeholder="Phone number *" type="text" required="required">
            </div> <!-- form-group// -->
            <div class="form-group input-group">
                <div class="input-group-prepend">
                    <span class="input-group-text"><i class="fa fa-user"> Gender </i></span>
                </div>

                <div class="form-check-inline">
                    <label class="form-check-label" for="male" style="color: bisque;">
                        <input type="radio" class="form-check-input" id=" male" name="gender" value="male" checked> Male
                    </label>
                </div>

                <div class="form-check-inline">
                    <label class="form-check-label" for="female" style="color: bisque;">
                        <input type="radio" class="form-check-input" id="female" name="gender" value="female"> Female

                    </label>
                </div>
            </div>
            <div class="form-group input-group">
                <div class="input-group-prepend">

                    <span class="input-group-text"><i class="fa fa-birthday-cake"> Date of Birth</i></span>
                </div>


                <input type="date" id="birthDate" class="form-control" required="required">
            </div>

            <div class="form-group input-group">
                <div class="input-group-prepend">
                    <span class="input-group-text"> <i class="fa fa-lock"></i> </span>
                </div>
                <input class="form-control" placeholder="Create password *" type="password" required="required">
            </div> <!-- form-group// -->
            <div class="form-group input-group">
                <div class="input-group-prepend">
                    <span class="input-group-text"> <i class="fa fa-lock"></i> </span>
                </div>
                <input class="form-control" placeholder="Confirm password *" type="password" required="required">
            </div> <!-- form-group// -->
            <div class="form-group input-group">
                <div class="input-group-prepend">

                    <span class="input-group-text"><i class="fa fa-calendar" aria-hidden="true"> Date of
                            Registration</i></span>
                </div>


                <input type="date" id="RegistrationDate" class="form-control" required="required">
            </div>
            <div class="form-group">
                <select class="form-control">
                    <option class="hidden" selected disabled>Please select your Security Question</option>
                    <option>What is your Birthdate?</option>
                    <option>What is Your Place of Birth?</option>
                    <option>What is your Pet Name?</option>
                </select>
            </div>
            <div class="form-group">
                <input type="text" class="form-control" placeholder="Enter Your Answer *" value=""
                    required="required" />
            </div>
            <div class="form-group">
                <button type="submit" class="btn btn-primary btn-block"> Create Account </button>
            </div> <!-- form-group// -->
            <p class="text-center" style="color: bisque;">Already have an account?
                 <a (click)="btnClick();" style="color: bisque;">Log In</a> </p>
        </form>


    </article>
</div> <!-- card.// -->