<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>


<blockquote class="blockquote">
    <h2><b>Booking History</b></h2>
</blockquote>
<div class="container custom-container-2">


    <div class="no-data text-center">

        <button class="btn btn-outline-primary"> Recent Booking-Details</button>
    </div>


    <h3 class="mb-3 text-center"> All Booking Details </h3>

    <div class="col-md-12">
        <table class="table table-warning">
            <thead>
                <tr>
                    <th scope="col">Book-Id</th>
                    <th scope="col">User-Id</th>
                    <th scope="col">Movie Title</th>
                    <th scope="col">Theatre Name</th>
                    <th scope="col">Book-Date</th>
                    <th scope="col">Book Time</th>
                    <th scope="col">Booked Seats</th>
                    <th scope="col">Amount Paid</th>

                </tr>
            </thead>

 
