<link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
<!------ Include the above in your HEAD tag ---------->

<link href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css" rel="stylesheet" type="text/css" />

<div class="container">
    <div class="row">
        <div class="col-lg-12">
            <p>
                <a (click)="btnClick();" class="btn btn-sq-lg btn-primary">
                    <i class="fa fa-user fa-5x"></i><br />
                    Edit Customer Profile<br> 
                </a >&nbsp;&nbsp;

                <a href="#" class="btn btn-sq-lg btn-success">
                    <i class="fa fa-user fa-5x"></i><br />
                    Booking Details <br>
                </a>&nbsp;&nbsp;
                <a (click)="btn3Click();" class="btn btn-sq-lg btn-info">
                    <i class="fa fa-user fa-5x"></i><br />
                    Booking History <br>
                </a>

            </p>
     
   